QPushButton {
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
QLabel {
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
/*160px,颜色22,226,58,加粗,文字居中对齐*/
QLabel[mode="160px,colour22,226,58"] {
    font-family: "Source Han Sans CN";
    font-size: 160px;
    font-weight: bold;
    color: rgb(22,226,58);
    qproperty-alignment: 'AlignCenter';
}
/*80px,颜色252, 86, 78,加粗,文字居中对齐*/
QLabel[mode="80px,colour252,86,78"] {
    font-family: "Source Han Sans CN";
    font-size: 80px;
    font-weight: bold;
    color: rgb(252,86,78);
    qproperty-alignment: 'AlignCenter';
}
/*60px,颜色172, 181, 197,加粗,文字居中对齐*/
QLabel[mode="60px,colour172,181,197"] {
    font-family: "Source Han Sans CN";
    font-size: 60px;
    font-weight: bold;
    color: rgb(172,181,197);
    qproperty-alignment: 'AlignCenter';
}
/*20px,颜色172, 181, 197,加粗,文字居中对齐*/
QLabel[mode="20px,colour172,181,197"] {
    font-family: "Source Han Sans CN";
    font-size: 20px;
    font-weight: bold;
    color: rgb(172,181,197);
    qproperty-alignment: 'AlignCenter';
}
/*20px,颜色255, 255, 255,加粗,文字居中对齐*/
QLabel[mode="20px,colour255,255,255"] {
    font-family: "Source Han Sans CN";
    font-size: 20px;
    font-weight: bold;
    color: rgb(255,255,255);
    qproperty-alignment: 'AlignCenter';
}
/*20px,颜色216,225,234,加粗,文字居中对齐*/
QLabel[mode="20px,colour216,225,234"] {
    font-family: "Source Han Sans CN";
    font-size: 20px;
    font-weight: bold;
    color: rgb(216,225,234);
    qproperty-alignment: 'AlignCenter';
}
/*20px,颜色255, 255, 255,透明度114,加粗,文字居中对齐*/
QLabel[mode="20px,colour255,255,255,114"] {
    font-family: "Source Han Sans CN";
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255,255,114);
    qproperty-alignment: 'AlignRight|AlignVCenter';
}
/*100px,颜色252, 86, 78,加粗,文字居中对齐*/
QLabel[mode="100px,colour252,86,78"] {
    font-family: "Source Han Sans CN";
    font-size: 100px;
    font-weight: bold;
    color: rgb(252,86,78);
    qproperty-alignment: 'AlignCenter';
}

/*100px,颜色63, 184, 248,加粗,文字居中对齐*/
QLabel[mode="100px,colour63,184,248"] {
    font-family: "Source Han Sans CN";
    font-size: 100px;
    font-weight: bold;
    color: rgb(63,184,248);
    qproperty-alignment: 'AlignCenter';
}

/*38px,颜色4,255,255,加粗,文字水平右对齐 + 垂直居中对齐*/
QLabel[mode="38px,colour4,255,255"] {
    font-family: "Source Han Sans CN";
    font-size: 38px;
    font-weight: bold;
    color: rgb(4,255,255);
    qproperty-alignment: 'AlignRight | AlignVCenter';
}

/*38px,颜色255,255,255,加粗,文字水平右对齐 + 垂直居中对齐*/
QLabel[mode="38px,colour255,255,255"] {
    font-family: "Source Han Sans CN";
    font-size: 38px;
    font-weight: bold;
    color: rgb(255,255,255);
    qproperty-alignment: 'AlignRight | AlignVCenter';
}
/*38px,颜色4,255,255,加粗,文字居中*/
QLabel[mode="38px,colour4,255,255,AlignCenter"] {
    font-family: "Source Han Sans CN";
    font-size: 38px;
    font-weight: bold;
    color: rgb(4,255,255);
    qproperty-alignment: 'AlignCenter';
}

/*38px,颜色255,255,255,加粗,文字居中*/
QLabel[mode="38px,colour255,255,255,AlignCenter"] {
    font-family: "Source Han Sans CN";
    font-size: 38px;
    font-weight: bold;
    color: rgb(255,255,255);
    qproperty-alignment: 'AlignCenter';
}
/*40px,颜色4,255,255,加粗,文字水平右对齐 + 垂直居中对齐*/
QLabel[mode="40px,colour4,255,255"] {
    font-family: "Source Han Sans CN";
    font-size: 40px;
    font-weight: bold;
    color: rgb(4,255,255);
    qproperty-alignment: 'AlignRight | AlignVCenter';
}
/*40px,颜色255,255,255,加粗,文字水平右对齐 + 垂直居中对齐*/
QLabel[mode="40px,colour255,255,255"] {
    font-family: "Source Han Sans CN";
    font-size: 40px;
    font-weight: bold;
    color: rgb(255,255,255);
    qproperty-alignment: 'AlignRight | AlignVCenter';
}

/*40px,颜色4,255,255,加粗,居中*/
QLabel[mode="40px,colour4,255,255,AlignCenter"] {
    font-family: "Source Han Sans CN";
    font-size: 40px;
    font-weight: bold;
    color: rgb(4,255,255);
    qproperty-alignment: 'AlignCenter';
}
/*40px,颜色255,255,255,加粗,居中*/
QLabel[mode="40px,colour255,255,255,AlignCenter"] {
    font-family: "Source Han Sans CN";
    font-size: 40px;
    font-weight: bold;
    color: rgb(255,255,255);
    qproperty-alignment: 'AlignCenter';
}
/*30px,颜色4,255,255,加粗,文字水平左对齐 + 垂直居中对齐*/
QLabel[mode="30px,colour4,255,255"] {
    font-family: "Source Han Sans CN";
    font-size: 30px;
    font-weight: bold;
    color: rgb(4,255,255);
    qproperty-alignment: 'AlignLeft | AlignVCenter';
}
/*30px,颜色255,255,255,加粗,文字水平左对齐 + 垂直居中对齐*/
QLabel[mode="30px,colour255,255,255"] {
    font-family: "Source Han Sans CN";
    font-size: 30px;
    font-weight: bold;
    color: rgb(255,255,255);
    qproperty-alignment: 'AlignLeft | AlignVCenter';
}

QLabel[mode="Label_No_background"] {
   background-image: none;
}
QPushButton#PushButton_No_background {
    background-image: none;
}

/* ----- BottomNavigationBar ---- */
QPushButton#CounterpulsationPump_Button[mode = "CounterpulsationPump_Button_True"] {
    background-image:url(:/BottomNavigationBar/Group 10174.png);
}
QPushButton#CounterpulsationPump_Button[mode = "CounterpulsationPump_Button_False"] {
    background-image:url(:/BottomNavigationBar/Group 10254.png);
}
QPushButton#Mode_Button[mode = "Manual_Mode_False"]{
    background-image:url(:/BottomNavigationBar/Group 103991.png);
}
QPushButton#Mode_Button[mode = "Manual_Mode_True"]{
    background-image:url(:/BottomNavigationBar/Group 10573.png);
}
QPushButton#Mode_Button[mode = "Automatic_Mode_False"] {
    background-image:url(:/BottomNavigationBar/Group 10399.png);
}
QPushButton#Mode_Button[mode = "Automatic_Mode_True"]{
    background-image:url(:/BottomNavigationBar/Group 10407.png);
}
QPushButton#TriggerMode_Button[mode = "ECG_True"]{
    background-image:url(:/BottomNavigationBar/Group 10575.png);
}
QPushButton#TriggerMode_Button[mode = "Pressure_True"]{
    background-image:url(:/BottomNavigationBar/Group 10576.png);
}
QPushButton#TriggerMode_Button[mode = "Ventricular_Atrial_Fibrillation_Pacemaker_True"]{
    background-image:url(:/BottomNavigationBar/Group 10577.png);
}
QPushButton#TriggerMode_Button[mode = "Atrial_Pacemaker_True"]{
    background-image:url(:/BottomNavigationBar/Group 10574.png);
}
QPushButton#TriggerMode_Button[mode = "Interior_True"]{
    background-image:url(:/BottomNavigationBar/Group 10404.png);
}
QPushButton#TriggerMode_Button[mode = "ECG_False"]{
    background-image:url(:/BottomNavigationBar/Group 10376.png);
}
QPushButton#TriggerMode_Button[mode = "Pressure_False"]{
    background-image:url(:/BottomNavigationBar/Group 10578.png);
}
QPushButton#TriggerMode_Button[mode = "Ventricular_Atrial_Fibrillation_Pacemaker_False"]{
    background-image:url(:/BottomNavigationBar/Group 10579.png);
}
QPushButton#TriggerMode_Button[mode = "Atrial_Pacemaker_False"]{
    background-image:url(:/BottomNavigationBar/Group 10580.png);
}
QPushButton#TriggerMode_Button[mode = "Interior_False"]{
    background-image:url(:/BottomNavigationBar/Group 10581.png);
}
QPushButton#InflationRatio_Button[mode = "1_1_False"]{
    background-image:url(:/BottomNavigationBar/Group 10401.png);
}
QPushButton#InflationRatio_Button[mode = "1_2_False"]{
    background-image:url(:/BottomNavigationBar/Group 10453.png);
}
QPushButton#InflationRatio_Button[mode = "1_3_False"]{
    background-image:url(:/BottomNavigationBar/Group 10454.png);
}
QPushButton#InflationRatio_Button[mode = "1_1_True"]{
    background-image:url(:/BottomNavigationBar/Group 10431.png);
}
QPushButton#InflationRatio_Button[mode = "1_2_True"]{
    background-image:url(:/BottomNavigationBar/Group 10451.png);
}
QPushButton#InflationRatio_Button[mode = "1_3_True"]{
    background-image:url(:/BottomNavigationBar/Group 10452.png);
}
QLabel#Inflation_Deflation_Timing_Label[mode = "Inflation_Deflation_Timing_False"]{
    background-image:url(:/BottomNavigationBar/Group 10400.png);
}
QLabel#Inflation_Deflation_Timing_Label[mode = "Inflation_Deflation_Timing_True"]{
    background-image:url(:/BottomNavigationBar/Group 10600.png);
}
QLabel#BalloonVolume_Label[mode = "BalloonVolume_False"]{
    background-image:url(:/BottomNavigationBar/Group 10341.png);
}
QLabel#BalloonVolume_Label[mode = "BalloonVolume_True"]{
    background-image:url(:/BottomNavigationBar/Group 10585.png);
}
QLabel#Blank_1_Button_Label{
    background-image:url(:/BottomNavigationBar/Frame 10102.png);
}
QLabel#FreezeWindow_Label[mode = "FreezeWindow_Label_False"]{
    background-image:url(:/BottomNavigationBar/Frame 10155.png);
}
QLabel#FreezeWindow_Label[mode = "FreezeWindow_Label_True"]{
    background-image:url(:/BottomNavigationBar/Group 10620.png);
}
QLabel#Printer_Label[mode = "Printer_Label_False"]{
    background-image:url(:/BottomNavigationBar/Frame 10151.png);
}
QLabel#Printer_Label[mode = "Printer_Label_True"]{
    background-image:url(:/BottomNavigationBar/Group 10626.png);
}
QLabel#Help_Button_Label[mode = "Help_Button_Label_False"]{
    background-image:url(:/BottomNavigationBar/Frame 10103.png);
}
QLabel#Help_Button_Label[mode = "Help_Button_Label_True"]{
    background-image:url(:/BottomNavigationBar/Group 10285.png);
}
QLabel#Set_Button_Label[mode = "Set_Button_Label_False"]{
    background-image:url(:/BottomNavigationBar/Frame 10104.png);
}
QLabel#Set_Button_Label[mode = "Set_Button_Label_True"]{
    background-image:url(:/BottomNavigationBar/Group 9809.png);
}
QLabel#Switch_Button_Label[mode = "Switch_Button_Label_False"]{
    background-image:url(:/BottomNavigationBar/Frame 10105.png);
}
QLabel#Switch_Button_Label[mode = "Switch_Button_Label_True"]{
    background-image:url(:/BottomNavigationBar/Group 10021.png);
}
QLabel[mode="Label_BottomNavigationBar"] {
  background-image:url(:/BottomNavigationBar/Group 10611.png);
}
/*  Inflation_Deflation_Timing  */
QLabel[mode="Label_Inflation_Deflation_Timing"] {
  background-image:url(:/Inflation_Deflation_Timing/Group 10532.png);
}
QPushButton#Help_Button[mode="Help_Button"] {
   background-image:url(:/Inflation_Deflation_Timing/Group 10259.png);
}
QPushButton#Finish_Button[mode="Finish_Button_False"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10257.png);
}
QPushButton#Finish_Button[mode="Finish_Button_True"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10286.png);
}
QPushButton#InflationReduce_Button[mode="InflationReduce_Button_False"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10533.png);
}
QPushButton#InflationReduce_Button[mode="InflationReduce_Button_True"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10445.png);
}
QPushButton#InflationAdd_Button[mode="InflationAdd_Button_False"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10534.png);
}
QPushButton#InflationAdd_Button[mode="InflationAdd_Button_True"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10446.png);
}
QPushButton#DeflateReduce_Button[mode="DeflateReduce_Button_False"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10533.png);
}
QPushButton#DeflateReduce_Button[mode="DeflateReduce_Button_True"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10445.png);
}
QPushButton#DeflateAdd_Button[mode="DeflateAdd_Button_False"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10534.png);
}
QPushButton#DeflateAdd_Button[mode="DeflateAdd_Button_True"]{
    background-image:url(:/Inflation_Deflation_Timing/Group 10446.png);
}
QLabel[mode="Ratio1_1_Backdrop_True"]{
background-image:url(:/Inflation_Deflation_Timing/Group 10535.png);
}
QLabel[mode="Ratio1_1_Backdrop_False"]{
background-image:none;
}
QLabel[mode="Ratio1_2_Backdrop_True"]{
background-image:url(:/Inflation_Deflation_Timing/Group 10535.png);
}
QLabel[mode="Ratio1_2_Backdrop_False"]{
background-image:none;
}
/*  ---- InflationRatio-------   */
QLabel[mode="InflationRatio_Label"] {
   background-image:url(:/InflationRatio/Group 10551.png);
}
QLabel[mode="Ratio1_1_True"] {
   background-image:url(:/InflationRatio/Rectangle 4585.png);
}
QLabel[mode="Ratio1_1_False"] {
   background-image:none;
}
QLabel[mode="Ratio1_2_True"] {
   background-image:url(:/InflationRatio/Rectangle 4585.png);
}
QLabel[mode="Ratio1_2_False"] {
   background-image:none;
}
QLabel[mode="Ratio1_3_True"] {
   background-image:url(:/InflationRatio/Rectangle 4585.png);
}
QLabel[mode="Ratio1_3_False"] {
   background-image:none;
}
/*  ---- AlarmSystem-------   */
QPushButton#Audio_Button {
    background-image:url(:/AlarmSystem/Frame 10091.png);
}
QPushButton#More_Button {
    background-image:url(:/AlarmSystem/Frame 10092.png);
}
QPushButton#Close_Button {
    background-image:url(:/AlarmSystem/Frame 10089.png);
}
QLabel#AlarmLevelIcon_Label[mode="AlarmLevelIcon_Advanced"]{
    background-image:url(:/AlarmSystem/Group 10028.png);
}
QLabel#AlarmLevelIcon_Label[mode="AlarmLevelIcon_Middle_Rank"]{
    background-image:url(:/AlarmSystem/Group 10026.png);
}
QLabel#AlarmLevelIcon_Label[mode="AlarmLevelIcon_Low_Level"]{
    background-image:url(:/AlarmSystem/Group 10022.png);
}
/*  ---- BalloonVolume-------   */
QLabel[mode="Label_BalloonVolume"] {
   background-image:url(:/BalloonVolume/Group 10558.png);
}
QPushButton#Add_Button[mode="Add_Button_False"]{
    background-image:url(:/BalloonVolume/Group 10554.png);
}
QPushButton#Add_Button[mode="Add_Button_True"]{
    background-image:url(:/BalloonVolume/add_tap.png);
}
QPushButton#Reduce_Button[mode="Reduce_Button_False"]{
    background-image:url(:/BalloonVolume/Group 10555.png);
}
QPushButton#Reduce_Button[mode="Reduce_Button_True"]{
    background-image:url(:/BalloonVolume/Reduction_tap.png);
}

/*  ---- Level1Alarm-------   */
QLabel[mode="Level1_Advanced"] {
   background-image:url(:/MessageManagement/Group 10568X.png);
}
QLabel[mode="Level1_Middle_Rank"] {
   background-image:url(:/MessageManagement/Group 10569.png);
}
QLabel[mode="Level1_Low_Level"] {
   background-image:url(:/MessageManagement/Group 10570.png);
}
/*  ---- MessageManagement-------   */
QLabel[mode="MessageManagement_Label"] {
   background-image: url(:/MessageManagement/Group 10568.png);
}
QWidget[mode="MessageManagement_Widget"] {
   background-image: url(:/MessageManagement/darker-huge.png);
}
QPushButton#Close_Button[mode="Close_Button"]{
    background-image:url(:/MessageManagement/Group 10037.png);
}
/*  ---- ModeSelection-------   */
QLabel[mode="ModeSelection_Label"] {
   background-image: url(:/ModeSelection/Group 10507.png);
}
QLabel#Automatic_Backdrop[mode="Automatic_Backdrop_True"]{
    background-image:url(:/ModeSelection/Rectangle 4580.png);
}
QLabel#Automatic_Backdrop[mode="Automatic_Backdrop_False"]{
    background-image:none;
}
QLabel#Manual_Backdrop[mode="Manual_Backdrop_True"]{
    background-image:url(:/ModeSelection/Rectangle 4580.png);
}
QLabel#Manual_Backdrop[mode="Manual_Backdrop_False"]{
    background-image:none;
}
/*  ---- SET-------   */
QLabel[mode="Label_SET"] {
   background-image:url(:/Set/Group 10402.png);
}
/*  ---- Statusbar-------   */
QLabel[mode="Label_Statusbar"] {
   background-image:url(:/Statusbar/Group 10448.png);
}

/*  ---- Topbar-------   */
QLabel[mode="Label_Topbar"] {
   background-image:url(:/Topbar/Rectangle 2846.png);
}
QPushButton#AlarmBell_Button[mode="AlarmBell_Button_False"]{
    background-image:url(:/Topbar/Group 9904.png);
}
QPushButton#AlarmBell_Button[mode="AlarmBell_Button_True"]{
    background-image:url(:/Topbar/Group 10503.png);
}
QLabel[mode="HeliumGasCylinderIcon_100"] {
   background-image:url(:/Topbar/Frame 10039.png);
}
QLabel[mode="HeliumGasCylinderIcon_50"] {
   background-image:url(:/Topbar/Group 10289.png);
}
QLabel[mode="HeliumGasCylinderIcon_20"] {
   background-image:url(:/Topbar/Group 10290.png);
}
QLabel[mode="HeliumGasCylinderIcon_0"] {
   background-image:url(:/Topbar/Group 10295.png);
}
QLabel[mode="BatteryIcon_100"] {
   background-image:url(:/Topbar/Group 9906.png);
}
QLabel[mode="BatteryIcon_50"] {
   background-image:url(:/Topbar/Group 10291.png);
}
QLabel[mode="BatteryIcon_20"] {
   background-image:url(:/Topbar/Group 10292.png);
}
QLabel[mode="BatteryIcon_0"] {
   background-image:url(:/Topbar/Group 10296.png);
}
QLabel[mode="BatteryIcon_Recharge"] {
   background-image:url(:/Topbar/Group 10305.png);
}
/*  ---- TriggerMode-------   */
QLabel[mode="Label_TriggerMode"] {
   background-image:url(:/TriggerMode/Group 10516.png);
}
QLabel[mode="Background_True"] {
   background-image:url(:/TriggerMode/Rectangle 4581.png);
}
QLabel[mode="Background_False"] {
   background-image:none;
}
